{% extends 'base.html' %}

{% block title %}Socios | IberaGym{% endblock %}

{% block content %}
<h2 class="mb-3">Listado de Socios</h2>

<a href="{% url 'socio:crear' %}" class="btn btn-primary mb-3">
    Nuevo Socio
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for socio in socios %}
        <tr>
            <td>{{ socio.nombre }}</td>
            <td>{{ socio.dni }}</td>
            <td>{{ socio.email }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay socios cargados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
