{% extends 'base.html' %}

{% block title %}Nuevo Socio{% endblock %}

{% block content %}
<h2 class="mb-4">Alta de Socio</h2>

<form method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>
        <div class="col-md-6">
            <label class="form-label">Apellido</label>
            {{ form.apellido }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label class="form-label">DNI</label>
            {{ form.dni }}
        </div>
        <div class="col-md-4">
            <label class="form-label">Fecha de alta</label>
            {{ form.fecha_alta }}
        </div>
        <div class="col-md-4">
            <label class="form-label">Email</label>
            {{ form.email }}
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        Guardar
    </button>
    <a href="{% url 'socio:lista' %}" class="btn btn-secondary ms-2">
        Cancelar
    </a>
</form>
{% endblock %}
