{% extends 'base.html' %}

{% block title %}Buscar Plan{% endblock %}

{% block content %}
<h2 class="mb-4">Buscar Plan</h2>

<form method="get" class="mb-4">
    <input type="text"
           name="q"
           class="form-control"
           placeholder="Buscar por nombre del plan"
           value="{{ query }}">
</form>

<div class="row">
    {% for plan in planes %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-success">
                <div class="card-body">
                    <h5 class="card-title">{{ plan.nombre }}</h5>
                    <p class="card-text">
                        <strong>Duración:</strong> {{ plan.duracion_meses }} mes{{ plan.duracion_meses|pluralize:"es" }} <br>
                        <strong>Descripcion:</strong> {{ plan.descripcion }} <br>
                        <strong>Precio:</strong> ${{ plan.precio }}
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No se encontraron planes.</p>
    {% endfor %}
</div>
{% endblock %}
