{% extends 'base.html' %}

{% block title %}Entrenadores | IberaGym{% endblock %}

{% block content %}
<h2 class="mb-3">Listado de Entrenadores</h2>

<a href="{% url 'entrenador:crear' %}" class="btn btn-primary mb-3">
    Nuevo Entrenador
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        {% for entrenador in entrenadores %}
        <tr>
            <td>{{ entrenador.nombre }}</td>
            <td>{{ entrenador.especialidad }}</td>
            <td>{{ entrenador.telefono }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay entrenadores cargados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
