{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="mb-3">Editar perfil</h4>

                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="text-center mb-3">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" class="rounded-circle" width="120">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default/default.png" class="rounded-circle" width="120">
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Cambiar avatar</label>
                        <input type="file" name="avatar" class="form-control">
                    </div>

                    {{ form.as_p }}

                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn btn-primary">
                            Guardar cambios
                        </button>

                        <a href="{% url 'users:change_password' %}" class="btn btn-danger">
                            Cambiar contraseña
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
